/* HIGHLIGHTS */
.highlights {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px 8%;
}

.highlight-card {
    background: #1a1a2e;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 250px;
    transition: 0.4s;
    opacity: 0;
    transform: translateY(30px);
}

.highlight-card.show {
    opacity: 1;
    transform: translateY(0);
}

.highlight-card i {
    font-size: 40px;
    color: #a855f7;
    margin-bottom: 15px;
}

.highlight-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(168,85,247,0.3);
}

/* FOOTER */
footer {
    background: #141428;
    padding: 30px;
    text-align: center;
}

.social-links a {
    color: #bbb;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.3s;
}

.social-links a:hover {
    color: #a855f7;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}
